/* Override browser styles */

/** default local vars **/
/* body {
    --current_text_color: var(--text);
    --current_text_color_highlight: var(--text_highlight);
} */

light-root {
    display: contents;
}

/* Scrollbar */
/* ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
    -webkit-appearance: none;
} */
/* ::-webkit-scrollbar-track {
    background: transparent;
} */
/* * {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */