/* Override browser styles */

/** default local vars **/
body {
    --current_text_color: var(--text);
    --current_text_color_highlight: var(--text_highlight);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
    -webkit-appearance: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.edit-hover {
    background-color: var(--blue)!important;
    outline: 1px solid white!important;
}


div:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--current_text_color_highlight);
    font-family: "Roboto", sans-serif;
    line-height: 1.2em;
    margin: 10px 0px;
}

strong, b {
    color: var(--current_text_color_highlight);
}

img:-moz-broken {
    opacity: 0;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Scroll Container */

.uix-scrollbar-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.uix-scrollbar-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    z-index: 1;
}

.uix-scrollbar {
    position: absolute;
    background-color: rgba(121, 121, 121, 0.4);
    border-radius: 5px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
    margin: 5px;
    z-index: 2;
}

.uix-scrollbar-container:hover .uix-scrollbar {
    opacity: 1;
}

.uix-scrollbar:hover {
    background-color: rgba(100, 100, 100, 0.7);
}

.uix-scrollbar.active {
    background-color: rgba(191, 191, 191, 0.4);
    opacity: 1;
}

.uix-scrollbar.y {
    right: 0px;
    top: 0px;
    width: 6px;
    height: 100px;
}

.uix-scrollbar.x {
    right: 0px;
    bottom: 0px;
    height: 6px;
    width: 100px;
}




/** main button (circular)*/
.c-button {
    margin: 4px;
    margin-right: 0;
    border: none;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    float: left;
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
}

.c-button.big {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
}

.c-button.large {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
}

.c-button:hover {
    background-color: #aaaaaa44;
}

.c-button:active {
    background-color: #aaaaaa77;
    outline: none;
    border: none;
}

.c-button:focus {
    outline: none;
    border: none;
}


.hover-float {
    transition-property: transform;
    transition-duration: 0.8s;
}

.hover-float:hover {
    transform: translateY(-10px);
}



/** CODE (markdown stuff) **/
::selection {
    background: #2a638cE0;
}

code {
    background: var(--bg_code);
    border-radius: 6px;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: #aaa;
    display: inline-block;
    user-select: text;
    cursor: text;
}

pre code {
    display: block;
    background: var(--bg_code);
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
    overflow-wrap: break-word;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 40px;
    overflow: scroll;
    width: calc(100% - 60px);
    /*line-break: loose;*/
}

pre code::before {
    content: attr(lang);
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #111;
    padding: 2px;
    border-radius: 7px;
    color: #888;
    transition: opacity 150ms ease-in;
    opacity: 0;
}

pre code:hover::before {
    opacity: 1;
}

.docs-code h1 {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.docs-code h2 {
    margin-left: 42px;
}

.docs-code h2 {
    counter-increment: line-number;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
    color: var(--accent);
}

.docs-code h2::before {
    content: "#" counter(line-number) " ";
    position: absolute;
    left: -48px;
    cursor: pointer;
    /*background: #1c1c28aa;*/
    padding: 5px;
    top: 0px;
    border-radius: 8px;
}

.multiline-span {
    word-break: break-all;
    white-space: normal;
}

.animate-on-hover {
    transform: scale(0.985);
    transition-property: transform;
    transition-duration: 0.2s;
}

.animate-on-hover:hover {
    transform: scale(1);
}


.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    text-decoration: underline;
    text-underline-position: under;
    /* text-decoration-color: var(--text_highlight); */
    text-decoration-thickness: 1.5px;
}


.error-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: var(--text_highlight);
}