/* Fontawesome */
@import url('./fontawesome.css');

@import url('./base.css');

/* body, html {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    -webkit-touch-callout: none;
}

body {
    background-color: var(--bg_dark);
	color: var(--current_text_color);
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    font-family: "Baloo Thambi 2", sans-serif;
    font-size: 16px;
} */