uix-button:not(.clean), uix-toggle-button:not(.clean) {
    --bg-color: var(--bg_button);
    --bg-color-shadow: transparent; /* no shadow by default*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 200px 200px var(--bg-color-shadow);
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Baloo Thambi 2", sans-serif;
    line-height: 16px;
    border: 2px solid transparent;
    color: var(--text);
    padding: 5px;
    border-radius: 5px;
    transform-origin: center center;
    text-align: center;
    transition-duration: 0.1s;
    transition-property: filter;
}

uix-button:not(.clean):not([disabled]):focus, uix-toggle-button:not(.clean):not([disabled]):focus {
    outline: none;
    /* box-shadow: none; */
    user-select: none;
    text-align: center;
}

uix-button:not(.clean):not([disabled]):focus-visible {
    outline: 2px solid var(--text_highlight);
    outline-offset: -2px;
}

uix-button:not(.clean):not([disabled]):active, uix-toggle-button:not(.clean):not([disabled]):active {
    scale: 0.98;
    outline: none;
}

uix-button:not(.clean):not([disabled]):hover, uix-toggle-button:not(.clean):not([disabled]):hover {
    filter: brightness(1.3) saturate(0.7);
}

uix-button[disabled] {
    cursor: not-allowed!important;
    background-color: var(--bg_button);
    color: var(--text_light)!important;
}

.no-focus-outline:active, .no-focus-outline:focus {
    outline: none !important;
}

.checkbox-group {
    display: inline-block;
}

.checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    cursor: default;
}

.checkbox-group label {
    position: relative;
    cursor: default;
}

.checkbox-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: default;
}

.checkbox-group.withlabel label:before {
    margin-right: 5px;
}

.checkbox-group input:checked + label:before {
    backdrop-filter: brightness(0.8);
    -webkit-backdrop-filter: brightness(0.8);
    border-color: var(--checked-color);
}

.checkbox-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
    width: 4px;
    height: 9px;
    border: solid var(--checked-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-1px, -1px);
}

/* toogle switch */
input[type=checkbox].switch {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label.switch {
    cursor: pointer;
    width: 30px;
    height: 15px;
    background: var(--text);
    border-radius: 15px;
    position: relative;
    display: inline-block;
    align-self: center;
}

label.switch:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: var(--bg_button);
    border-radius: 12px;
    transition: 0.3s;
}

input.switch:checked + label {
    background: var(--checked-color);
}

input.switch:checked + label:before {
    left: calc(100% - 2px);
    transform: translateX(-100%) translateY(-0.5px);
}

label.switch:active:before {
    width: 15px;
}

.unyt-pen-pad {
    background-color: #ffffff;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}

ul.json-dict, ol.json-array {
    border-left: 1px solid #797979 !important;
}



.text-select {
    background: var(--bg_content);
    color: var(--text_highlight);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: text;
}

.input {
    border: 2px solid transparent;
    color: inherit;
    padding: 3.5px;
    border-radius: 5px;
    transform-origin: center center;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: var(--bg_content_dark);
    min-width: 27px;
    max-width: 100%;
}

.input.invalid {
    border: 2px solid var(--red)!important;
}

.input.invalid::placeholder {
    color: var(--red);
}

.input[type=button]:active, .button:active, .input[type=button].active, .button.active {
    outline: none;
    border: 2px solid var(--text_light);
}

.input:not([type=button]):active, .input:not([type=button]):focus {
    border: 2px solid var(--text_highlight);
    outline: none;
}

.light-button, .light-button:hover, .light-button:active {
    background-color: var(--accent);
    color: #333;
    border: none !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.dark-button, .dark-button:hover, .dark-button:active {
    background-color: var(--bg_dark);
    color: var(--text_highlight);
    border: none !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.text-button {
    background: none;
    color: var(--text);
    border: none;
}

.text-button:active {
    border: none;
    background: none;
    scale: 1;
}

.text-button:active {
    color: var(--text_highlight);
}



/* Dropdowns */
.dropdown {
    border: 1px solid #ababab30;
    padding: 5px;
    border-radius: 5px;
    padding: 0px 3px 0px 8px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: baseline;
    background-color: var(--bg_content_dark);
}

.dropdown-expand {
    width: fit-content;
    background-color: var(--bg_content_dark);
    border-radius: 5px;
    border: 1px solid #ababab30;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 4px;
    overflow: scroll;
    z-index: 4000000;
    pointer-events: all;
    position: absolute;
}

.dropdown-item {
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    white-space: nowrap;
}

.dropdown-item::after {
    content:" ";
    font-size:0;
    white-space:pre;
}

.dropdown-item:hover {
    background-color: var(--bg_content_hlt);
    color: var(--accent-color);
}



.carousel-item {
    border-radius: 30px;
    width: min(350px, 85%);
    aspect-ratio: 1;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;
}

.carousel-item:hover {
    transform: scale(1.03);
    box-shadow: 7px 7px 20px -1px rgba(0, 0, 0, 0.2);
}



.breadcrumb-link {
    cursor: pointer;
    text-decoration-color: #aaa;
    text-underline-position: under;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}


.list-container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px 5px;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.list-entry {
    display: table-row;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.list-entry:not(.plain):hover .list-entry-value:not(.no-bg):not(.header) {
    background-color: var(--bg_content_hlt);
}

.list-entry.active:not(.plain) .list-entry-value:not(.no-bg):not(.header) {
    background-color: var(--bg_focus);
}

.list-entry-value {
    display: table-cell;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: scroll;
}

.list-entry:not(.plain) .list-entry-value {
    padding: 0px 5px;
}

.list-entry:not(.plain) .list-entry-value:not(.no-bg) {
    background-color: var(--bg_content);
}

.list-entry-value.header {
    color: var(--text_highlight);
}

.list-entry:not(.plain) .list-entry-value.header:not(.no-bg) {
    background-color: var(--bg_dark);
}

