
/* .list-container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px 5px;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.list-entry {
    display: table-row;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.list-entry:hover .list-entry-value:not(.no-bg):not(.header) {
    background-color: var(--bg_content_hlt);
}

.list-entry.active .list-entry-value:not(.no-bg):not(.header) {
    background-color: var(--bg_focus);
}

.list-entry-value {
    display: table-cell;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    overflow-x: scroll;
}

.list-entry-value:not(.no-bg) {
    background-color: var(--bg_content);
}

.list-entry-value.header {
    background-color: var(--bg_dark);
    color: var(--text_highlight);
} */