
.tab-header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    overflow-x: scroll;
    overflow-y: scroll;
    align-items: flex-start;
    border-radius: 10px;
    margin-bottom: 2px;
}

.tab-header::-webkit-scrollbar {
    display: none;
}

.tab-title {
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    transition-duration: 0.2s;
    transition-property: transform;
}

.tab-title.scaling {
    transform: scale(0.94);
}

.tab-title.small {
    border-radius: 5px;
    padding-top: 0;
    border: none;
}

.tab-title:hover, .tab-title:focus {
    background-color: var(--bg_default);
}

.tab-title.scaling:hover {
    transform: scale(1);
}

.tab-title.active {
	color: var(--text_highlight);
}

.tab-title.active:not(.small) {
    background-color: var(--bg_default);
    border: 1px solid var(--border);
}

.tab-title.small.active {
    background-color: var(--border);
}