

.tree-container {
    font-size: 16px;
}

.tree-entry {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 22px;
}

.tree-container:not(.display-root) .tree-entry:first-of-type {
    margin-left: 0;
}
.tree-container:not(.display-root) .tree-entry:first-of-type::before {
    display: none;
}
.tree-container:not(.display-root) .tree-entry:first-of-type > .dir-header {
    display: none;
}
.tree-container:not(.display-root) .tree-entry:first-of-type > .end-brace {
    display: none;
}
.tree-container:not(.display-root) .tree-entry:first-of-type > .tree-entry {
    margin-left: 5px;
}

.tree-container.display-root .tree-entry:first-of-type {
    margin-left: 0 !important;
}
.tree-container.display-root .tree-entry:first-of-type > .dir-header > .dir-caret {
    display: none;
}
.tree-container.display-root .tree-entry:first-of-type::before {
    display: none;
}
.tree-container.display-root .tree-entry:first-of-type > .end-brace {
    padding-left: 12px;
}

.tree-entry .dir-header, .tree-entry .file {
    white-space: nowrap;
}

.tree-entry .file {
    padding-left: 10px;
    color: var(--text);
}


.no-display {
    display: none;
}

.grey-out-children .no-display {
    opacity: 0.3;
    display: block;
}

.grey-out:not(.dir) {
    opacity: 0.3;
}

.dir.grey-out > .dir-header, .dir.grey-out > .end-brace, .dir.grey-out::before {
    opacity: 0.3;
}

.dir {
    color: var(--accent);
    padding-right: 5px;
}

.dashed-lines .dir:not(.collapsed)::before {
    left: 4px;
    top: 20px;
    width: 3px;
    height: calc(100% - 25px);
    content: "";
    position: absolute;
    border-left: 1px dashed var(--text_light);
    border-bottom: 1px dashed var(--text_light);
}

.solid-lines .dir:not(.collapsed)::before {
    left: 4px;
    top: 20px;
    width: 3px;
    height: calc(100% - 25px);
    content: "";
    position: absolute;
    border-left: 1px solid var(--text_light);
    border-bottom: 1px solid var(--text_light);
}

.dir-caret {
    cursor: pointer;
    align-self: flex-start;
    transform: translate(-1px, 3px);
    opacity: 0.3;
}

.dir-caret:hover {
    background: none !important;
}

.tree-entry .dir-header > div:not(.dir-caret), .tree-entry .file > div {
    border-radius: 0.5vmin;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 3px;
    display: inline-flex;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
    width: fit-content;
}

.entry-name {
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 100%;
    box-sizing: border-box;
}

.file svg, .dir div:not(.dir-caret) > svg {
    margin-top: 3px;
}

.dir-header {
    display: flex;
    align-items: center;
}

.dir-header > div:hover, .file > div:hover {
    background-color: #aaaaaa44;
}

.dir-header > div:active, .file > div:active {
    background-color: #aaaaaa44;
}

.dir-header > div:focus, .file > div:focus {
    background-color: #aaaaaa44;
}

.dir-header:hover {
    opacity: 1 !important;
}

.file:has(div:active) {
    opacity: 1 !important;
}

.file:has(div:focus) {
    opacity: 1 !important;
}

.dir > .dir-header:hover {
    opacity: 1 !important;
}

.collapsed-brace {
    display: none;
}

:not(.empty) .collapsed .collapsed-brace {
    display: inline;
}

.end-brace {
    padding-left: 19px;
    color: var(--text_highlight);
}

.empty .end-brace {
    display: contents;
}

.file div:focus {
    color: var(--text_highlight);
}

.dir.hidden {
    color: rgba(79, 169, 232, 0.5);
}

.tree-entry.dir.collapsed > div:not(.dir-header) {
    display: none;
}

.tree-entry.dir.empty {
    margin-left: 44px;
}

.tree-entry.file.hidden {
    color: var(--text_light);
}

.tree-entry.dir.collapsed .dir-caret {
    margin-right: 0;
    transform: rotate(-90deg) translate(-3px, -1px);
}