
/** TABLES **/
table {
    background-color: var(--bg_content_hlt);
    border-radius: 10px;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    margin: auto;
    min-width: 100%;
}
table *:focus {
    outline: none;
    border-color: var(--text_highlight);
    border-radius: 5px;
}
table :not(.no-style) tr:focus-within td:not(.edited-row), table :not(.no-style) tr.selected td:not(.edited-row) {
    background-color: var(--bg_content_hlt) !important;
}

table.no-style,
.no-style thead,
.no-style tbody,
.no-style tfoot,
.no-style tr,
.no-style th,
.no-style td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

th, td {
    border: 1px solid var(--text_light);
    box-sizing: border-box;
    border-width: 1px 1px;
}

th {
    border: 1px solid var(--text_light);
    line-height: 25px;
}

th div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

thead {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

thead tr th {
    position: sticky;
    top: 0;
    /*z-index: 10;*/
    background-color: var(--bg_content_dark);
}

thead tr th:first-child {
    border-top-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th, td {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: scroll;
    max-width: 300px;
}

tr {
    line-height: 22px;
}

th {
    padding-left: 8px;
    padding-right: 8px;
}

td {
    background-color: var(--bg_default);
}

td.new-row {
    background-color: var(--bg_content_edit);
}

td.edited-row {
    background-color: var(--bg_content_edit);
}

td.string:not(:empty) {
    color: var(--code_string_color);
}

td.buffer:not(:empty) {
    color: var(--code_buffer_color);
}

td.number:not(:empty), td.decimal:not(:empty) {
    color: var(--code_number_color);
    text-align: right;
}

td.boolean:not(:empty) {
    color: var(--code_boolean_color);
    text-align: right;
}

td input[type=datetime-local], td input[type=date] {
    border: none;
    background: none;
    cursor: text;
    padding: 0;
    width: 100%;
}

td input[type=datetime-local]:focus, td input[type=date]:focus {
    border: none;
    background: none;
}

/** DB Stuff **/
td[contentEditable=true]:empty:not(:focus):before {
    content: "NULL";
    opacity: 0.5;
    pointer-events: none;
}

td[contenteditable=true] {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

td[contenteditable=true] br {
    display: none;
}

td[contenteditable=true] * {
    display: inline;
    white-space: nowrap;
}