.console-header {
    background: var(--bg_default);
    color: var(--text_highlight);
    padding: 10px 10px 10px;
}

.console-body {
    font-size: 14px;
    user-select: text;
    flex-grow: 1;
    padding: 20px;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.console-hoverable {
    cursor: pointer;
}

.console-hoverable:hover {
    text-decoration: underline;
    text-underline-position: under;
}


.console-view {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.console-placeholder {
    width: 200px;
    height: 200px;
}