
/** CODE **/
::selection {
    background: #2a638cE0;
}

code {
    background: var(--bg_code);
    border-radius: 6px;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: #aaa;
    display: inline-block;
}

pre code {
    display: block;
    background: var(--bg_code);
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
    overflow-wrap: break-word;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 40px;
    overflow: scroll;
    width: calc(100% - 60px);
    /*line-break: loose;*/
}

pre code::after {
    content: attr(lang);
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #111;
    padding: 2px;
    border-radius: 7px;
    color: #888;
    transition: opacity 150ms ease-in;
    opacity: 0;
}

pre code:hover::after {
    opacity: 1;
}

.docs-code h1 {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* .docs-code h2 {
    margin-left: 42px;
} */

.docs-code h2 {
    counter-increment: line-number;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 0px;
    position: relative;
    color: var(--accent);
}

/* .docs-code h2::before {
    content: "#" counter(line-number) " ";
    position: absolute;
    left: -48px;
    cursor: pointer;
    padding: 5px;
    top: 0px;
    border-radius: 8px;
} */

.multiline-span {
    word-break: break-all;
    white-space: normal;
}